{% extends "dead_south/base.html" %}

{% block title %}about{% endblock %}

{% block body %}
    <article class='container mx-auto w-1/2'>
       <h2 class='text-2xl'>a reading list</h2>
       <ul>
           <li><a href='https://scalawagmagazine.org/' target='_blank' class='text-red-300'>Scalawag Magazine</a></li>
            <li><a href='https://archive.vanityfair.com/article/2020/9/mississippi-a-poem-in-days' target='_blank' class='text-red-300'>Mississippi: A Poem, In Days</a></li>
           <li><a href='https://www.politico.com/magazine/story/2014/10/mississippi-burned-obamacare-112181/' target='_blank' class='text-red-300'>Mississippi, Burned</a></li>
       </ul>
    </article>

{% endblock %}