{% extends "dead_south/base.html" %}

{% block title %}about{% endblock %}

{% block body %}
    <article class='container mx-auto w-1/3'>
        <p>It's very funny and worth your time.</p>

        <p>In the early 60s, legendary Lucille Ball conducted more than 250 intimate interviews with the biggest movie stars. Now this landmark archive is finally being released to the public. It’s the podcast equivalent of a treasure cave.</p>
    
        <p>wtf is it jamie??? Reply Delete</p>
    
        <p>Life before network television.</p>
    
        <p>They are releasing a podcast about Lucille Ball today that will focus on the week that changed the sitcom star's life forever.</p>
    
        <p>Bring back The Main Ingredient on Sunday nights. #BringBackTheMainIngredient ##BringBackTheMainIngredient</p>
        <a href="{% url 'content' %}" class='text-red-400'>Read more ></a>
    </article>

{% endblock %}